* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;

    padding-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}


/*navbar header*/

header {
    position: fixed;
    top: 0;

    width: 100%;

    background-color: #ff6900;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    ;
    z-index: 3;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    min-height: 60px;
    margin: auto;
}

.logo {
    width: 150px;
}

/*end navbar header*/

/*start main*/

main {
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    position: relative;

    top: 10px;

    width: calc(100% /3);
    height: 450px;

    margin-bottom: 120px;
    margin-left: 20px;

    z-index: 0;
}

/*box clothes*/

.box {
    position: absolute;
    bottom: -60px;
    left: 0;

    line-height: 1.2em;
}

.box .clothes {
    font-weight: 600;
}

.old-price {
    text-decoration: line-through;
    color: black;
}

.new-price {
    color: #ff1c2f;
}

.discount {
    position: absolute;
    bottom: 40px;
    left: 0;

    padding: 3px;

    background-color: #ff1c2f;
    color: white;
}

.eco {
    left: 50px;
    background-color: #008000;
}

.eco-only {
    left: 0;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 0;

    width: 40px;
    height: 40px;
    font-size: 1.8em;

    background-color: white;
    color: black;
}

.heart,
.eco,
.discount {
    z-index: 3;
}

/*end box clothes*/


/*footer*/
footer {
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    height: 80px;
}

.social,
.information {
    padding-top: 22px;
}

li {
    padding-top: 5px;
}

h1 {
    font-size: 1.2em;
}


/*display effects*/
.hover-image {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    opacity: 0;
    z-index: 2;
    transition: 0.3s ease;
}

.hover-image:hover {
    opacity: 1;
}